/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  color: #444444;
}

a {
  color: #71A4C2;
  text-decoration: none;
}

a:hover {
  color: #71A4C2;
  text-decoration: none;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  color: black;
  line-height: 84px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #71A4C2;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #71A4C2;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #444444;
  line-height: 21px;
}
h2, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}
.section-header h2 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
  color: #252525;
  text-transform: uppercase;
}
.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #71A4C2;
}
@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #012970;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}
.breadcrumbs ol a:hover {
  text-decoration: underline;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  background: #fff;
  z-index: 997;
  padding: 20px 0;
}
.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
.header .logo {
  line-height: 0;
}
.header .logo img {
  max-height: 40px;
  margin-right: 6px;
  margin-left: 15px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  background-color: white;
  padding: 10px 0 10px 25px;

}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 25px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #71A4C2;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #EE6C4D;
  padding: 8px 20px;
  margin-left: 25px;
  border-radius: 25px;
  color: #fff;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #DC7F68;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px #71A4C2;
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #4154f1;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #71A4C2;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #71A4C2;
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: black;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #71A4C2;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 25px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #71A4C2;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background-color: #CDDEE9;
  margin-top: 40px;
}
.hero h1 {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  color: black;
}
.hero h2 {
  color: #545454;
  margin: 15px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}
.hero .btn-get-demo {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 25px;
  transition: 0.5s;
  color: #fff;
  background: #EE6C4D;
  box-shadow: 0px 5px 30px #C4C4C4;
}
.hero .btn-get-demo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}
.hero .btn-get-demo i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.hero .btn-get-demo:hover i {
  transform: translateX(5px);
}

.hero .btn-try-free {
  margin-top: 30px;
  margin-left: 15px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 25px;
  transition: 0.5s;
  color: black;
  background: white;
  box-shadow: 0px 5px 30px #C4C4C4;
}
.hero .btn-try-free span {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}
.hero .btn-try-free i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.hero .btn-try-free:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 100%;
  }
  .hero h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .hero h2 {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}
.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}
.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}
.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}
.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}
.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}
.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}
.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}
.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}
.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}
.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# user
--------------------------------------------------------------*/
.user .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(50, 52, 56, 0.301);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.user .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1);
}
.user .box h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #71A4C2;
  margin: 15px;
}
.user .box:hover {
  box-shadow: 0px 0 30px rgba(51, 51, 51, 0.226);
}
.user .box:hover img {
  transform: scale(0.75);
}

.user .btn-get-demo {
  margin-top: 30px;
  line-height: 0;
  padding: 20px 40px;
  border-radius: 25px;
  transition: 0.5s;
  color: #fff;
  background: #EE6C4D;
  box-shadow: 0px 5px 30px #C4C4C4;
}
.user .btn-get-demo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}
.user .btn-get-demo i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.user .btn-get-demo:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  margin-top: 0px;
}
.features .feature-icons {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .features .feature-icons {
    margin-top: 120px;
  }
  .features .feature-icons h3 {
    font-size: 28px;
  }
}
.features .feature-icons .content .icon-box {
  display: flex;
}
.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #71A4C2;
}
.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #71A4C2;
  margin-right: 15px;
}
.features .feature-icons .content .icon-box p {
  font-size: 16px;
  color: #444444;
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
  border: 0;
}
.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}
.faq .accordion-button:focus {
  box-shadow: none;
}
.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #71A4C2;
  border-bottom: 0;
}
.faq .accordion-body {
  padding: 25px 0 25px 0;
  border: 0;
}

/*--------------------------------------------------------------
# Contact Us Page
--------------------------------------------------------------*/
.contactus {
  background-color: #CDDEE9;
  margin-top: 120px;
}
.contactus .section-header {
  margin: 15px;
}
.contactus .section-header h2 {
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
}
.contactus .section-header h3 {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.contactus .p {
  text-align: left;
  margin: 15px;
}
.contactus .box h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #EE6C4D;  
}
.contactus .box {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  transition: 0.3s;
  height: 100%;
  margin: 10px;
}

/*--------------------------------------------------------------
# user
--------------------------------------------------------------*/
.user .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(50, 52, 56, 0.301);
  text-align: center;
  transition: 0.3s;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.user .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1);
}
.user .box h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #71A4C2;
  margin: 15px;
}
.user .box:hover {
  box-shadow: 0px 0 30px rgba(51, 51, 51, 0.226);
}
.user .box:hover img {
  transform: scale(0.75);
}

.user .btn-get-demo {
  margin-top: 30px;
  line-height: 0;
  padding: 20px 40px;
  border-radius: 25px;
  transition: 0.5s;
  color: #fff;
  background: #EE6C4D;
  box-shadow: 0px 5px 30px #C4C4C4;
}
.user .btn-get-demo {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}
.user .btn-get-demo i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.user .btn-get-demo:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  margin-top: 0px;
}
.features .feature-icons {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .features .feature-icons {
    margin-top: 120px;
  }
  .features .feature-icons h3 {
    font-size: 28px;
  }
}
.features .feature-icons .content .icon-box {
  display: flex;
}
.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #71A4C2;
}
.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #71A4C2;
  margin-right: 15px;
}
.features .feature-icons .content .icon-box p {
  font-size: 16px;
  color: #444444;
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
  border: 0;
}
.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}
.faq .accordion-button:focus {
  box-shadow: none;
}
.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #71A4C2;
  border-bottom: 0;
}
.faq .accordion-body {
  padding: 25px 0 25px 0;
  border: 0;
}

/*--------------------------------------------------------------
# Login Page
--------------------------------------------------------------*/
.login {
  background-color: #CDDEE9;
  margin-top: 120px;
}
.login .section-header {
  margin: 15px;
}
.login .section-header h2 {
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
}
.login .section-header h3 {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.login .p {
  text-align: left;
  margin: 15px;
}
.login .box h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #EE6C4D;  
}
.login .box {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  transition: 0.3s;
  height: 100%;
  margin: 10px;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}
.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #4154f1;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}
.footer .container {
  margin-left: 30px;
}
.footer .footer-newsletter {
  padding: 50px 0;
  background: #CDDEE9;
  border-top: 1px solid #e1ecff;
}
.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #71A4C2;
}
.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
}
.footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}
.footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #EE6C4D;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
}
.footer .footer-newsletter form input[type=submit]:hover {
  background: #DC7F68;
}
.footer .footer-top {
  background: white url(../img/footer-bg.png) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}
@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}
.footer .footer-top .footer-info {
  margin-bottom: 30px;
}
.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}
.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}
.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
  font-family: "Raleway", sans-serif;
  margin-top: 3px;
}
.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: #EE6C4D;
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
  color: #e68d77;
}
.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #EE6C4D;
  font-size: 12px;
  line-height: 0;
}
.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-top .footer-links ul a {
  color: #333333;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
  color: #DC7F68;
}
.footer .footer-top .footer-contact p {
  line-height: 26px;
}
.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #71A4C2;
}
.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #CDDEE9;
}